body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pd-l {
  margin-left: 15px;
}

.inpt {
  margin: 0 auto;
  max-width: 1500px;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f2f2f2;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}